:root {
    --primary-color: #14592d;
    --secondary-color: #F5F5F5;

    --body-color: #333333;

    --line-color: #dddddd;
    --white-color: #ffffff;
    --background-color: #f7f7f7;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--body-color);
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    height: 120px;
    overflow: hidden;
    transition: 0.4s;
}

#header a {
    white-space: nowrap;
}

#header:hover {
    height: 460px;
    background: rgba(0, 0, 0, 0.25);
}

#header.on {}

#header .hd_wrap {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    max-width: 1410px;
}

#header h1 {
    display: flex;
    align-items: center;
    height: 132px;
}

#header h1 a {
    display: flex;
}

#header .hd_wrap img {
    height: 5.6rem;
}

#header .gnb {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

#header .gnb>ul {
    display: flex;
    gap: 8rem;
    color: #fff;
    letter-spacing: 1px;
    justify-content: space-between;

    font-weight: 600;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 40px;
    font-weight: 400;
    font-size: 12px;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 12rem;
    font-size: 1.4rem;
    color: #fff;

    transition: line-height 0.4s;

    width: 100%;
}

/* #header.on .gnb>ul>li>a {
    line-height: 8rem;
    color: var(--body-color);
} */

.main_visual {
    position: relative;
    height: 100dvh;
    overflow: hidden;
    display: block;
    vertical-align: top;
}

.main_arrivals {}

.main_arrivals h2 {
    font-size: 48px;
}

.main_arrivals .inner p {
    font-size: 20px;
    font-weight: 500;
}

.main_arrivals .tab_menu {
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-top: -20px;
    margin-bottom: 64px;
}

.main_arrivals .tab_menu button {
    position: relative;
    height: 40px;
    padding: 0 16px;
    margin-top: 32px;
    font-size: 12px;
    font-weight: 500;
}

.main_arrivals .tab_menu button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.5s;
}

.main_arrivals .tab_menu button.on::after {
    width: 100%;
}

.main_arrivals .tab_content .con {
    display: flex;
    gap: 30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;

    cursor: pointer;
}

.main_arrivals .tab_content .con .itm {
    position: relative;
}

.main_arrivals .tab_content .con.on {
    visibility: visible;
    height: auto;
}

.main_arrivals .tab_content .con>* {
    flex: 1;
}

.main_arrivals .tab_content .con img {
    background: #fff;
    position: relative;
}

.main_arrivals .tab_content .con p {
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
}

.main_arrivals .tab_content .con span {
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: left;
    margin-top: 13px;
    font-size: 13px;
}

.main_arrivals .tab_content .con span em {
    color: tomato;
}

.main_arrivals .tab_content .con a {
    position: absolute;
    color: tomato;
    display: block;
    top: 512px;
    left: 290px;
    z-index: 10;
    font-size: 14px;
    font-weight: 400;
    justify-content: right;
}

.main_cody {
    position: relative;
}

.main_cody .divider {
    position: absolute;
    width: 1410px;
    height: 1px;
    background: #ddd;
    margin: -120px 0;
    left: 248px;
}

.main_cody h2 {
    font-size: 48px;
}

.main_cody .inner p {
    font-size: 20px;
    font-weight: 500;
}

.main_cody .tab_menu {
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-top: -20px;
    margin-bottom: 64px;
}

.main_cody .tab_menu button {
    position: relative;
    height: 40px;
    padding: 0 16px;
    margin-top: 32px;
    font-size: 12px;
    font-weight: 500;
}

.main_cody .tab_menu button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.5s;
}

.main_cody .tab_menu button.on::after {
    width: 100%;
}

.main_cody .tab_content .con {
    display: flex;
    gap: 30px;
    visibility: hidden;
    height: 0;

}

.main_cody .tab_content .con .itm {
    position: relative;
}

.main_cody .tab_content .con.on {
    visibility: visible;
    height: auto;
    overflow: hidden;
}

.main_cody .tab_content .con>* {
    flex: 1;
}

.main_cody .inner {
    /* overflow: hidden; */
}

.main_cody .main_cody_slide {
    margin: 0 auto;
}

.main_cody .itm {
    justify-content: center;

    cursor: pointer;
}

.main_cody .tab_content .con img {
    background: #fff;
    position: relative;
}

.main_cody .tab_content .con p {
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
}

.main_cody .tab_content .con span {
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: left;
    margin-top: 13px;
    font-size: 13px;
}

.main_cody .tab_content .con span em {
    color: tomato;
}

.main_cody .tab_content .con a {
    position: absolute;
    color: tomato;
    display: block;
    top: 512px;
    left: 290px;
    z-index: 10;
    font-size: 14px;
    font-weight: 400;
    justify-content: right;
}

.main_cody .arrows {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}

.main_cody .arrows button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 20px;
}

.main_cody .arrows button img {
    width: 36px;
}

.main_cody .arrows .prev {
    position: absolute;
    left: -56px;
    transform: translate(-50%, -50%);
}

.main_cody .arrows .next {
    position: absolute;
    right: -108px;
    transform: translate(-50%, -50%);
}

.main_banner {
    position: relative;
    background: url(../images/main_banner.jpg) no-repeat center top/cover;

    height: 800px;
    background-size: 100%, 640px;
    display: block;
    width: 100%;
}

.main_sns {
    position: relative;
}

.main_sns .title h2 {
    margin-bottom: 12rem;
}

.main_sns .image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    cursor: pointer;
}

.main_sns .image-grid img {
    width: 100%;
    height: 280px;
    display: block;
    object-fit: cover;
}

.main_sns .utils {
    position: absolute;
    display: block;
    top: 232px;
    left: 248px;
}

.main_sns .utils img {
    width: 28px;
}

.main_sns .id {
    position: absolute;
    display: block;
    top: 240px;
    left: 288px;
}

#footer {
    margin-bottom: 100px;
}

#footer .inner {
    display: flex;
    justify-content: space-between;
}

#footer .inner ul li:hover {
    border-bottom: 1px solid #000;
}

#footer .custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

#footer .button {}

#footer .text {}